#QCOM sensors
service sensors /system/vendor/bin/sensors.qcom
    class main
    user root
    group root

#MAC setup
service btnvtool /system/vendor/bin/btnvtool -I
    user root
    group root
    oneshot
